@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL,MONO@400,1,0.5;700,1,0.5&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(251, 107, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.root {
    width: 100%;
    height: 100%;
}

p {
    font-weight: 400;
    color: red;
}

h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44.7px;
    color: white;
}

.entry-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 148px 0 202px;
}

.entry-screen button {
    width: 246px;
    height: 54px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(215, 9, 0, 1);
    border-radius: 5px;
    border: 1px solid rgba(215, 9, 0, 1);
    font-family: 'Recursive', sans-serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.entry-screen button:active {
    transform: translateY(1px);
}

.recall-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.title img {
    margin-right: 15px;
}

.cards {
    width: 80%;
    margin-top: 51px;
}

.card {
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 25px;
}

.opened-card {
    width: 100%;
    height: 131px;
    background-color: rgba(255, 255, 212, 1);
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 18px 0 0 15px;
    margin-bottom: 25px;
}

.opened-card img {
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.opened-card p {
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
}